.video_sample
  iframe src="#{institutional_video.vimeo.embed_url}?title=0&amp;byline=0&amp;portrait=0&amp" width="380" height="242" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen