<div class="container">
  <section class="banner">
    <div class="span6">
      <blockquote class="bantext">
        <h2>Be an angel &</h2>
        <h1>support </h1>
        <h3>the start-ups you believe in</h3>
        <p>Fund start-ups collaboratively and help launch the next big thing.Get funding for your start-up from people that love your idea.</p>
        <div class="clearfix"></div>
      </blockquote>
      <a class=" btn_call btn-large btn-inverse" href="/explore">Browse Startups</a> </div>
    <div class="span5 video_box">
        <% if has_institutional_videos? %>
          <%=render 'layouts/institutional_video_header'%>
        <%end%>
    </div>
  </section>
</div>
